.OtpLogin {
  color: white;
  background-color: hsl(0, 0%, 20%);
  border-radius: 25px;
  border: 5px double white;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;

  flex-direction: column;
  padding: 10px;
}

.heading {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;

  font-size: 25px;
}

.otpInputFields {
  width: 40px;
  height: 40px;
  text-align: center;
  border: none;
}

.hint {
  color: hsl(0, 0%, 50%);
  margin-top: 230px;
}
